@tailwind base;
@tailwind components;
@tailwind utilities;

.body{

    font-family: 'Rubik', sans-serif;
    background-color:#10101a
}
.body .hr1{
    content: "";
    position: absolute;
    top: 94rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background: #fff;
    opacity: 0.2;
    width:60%
}
.body .hr2{
    content: "";
    position: absolute;
    top: 153rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background: #fff;
    opacity: 0.2;
    width:60%
}

.body .hr3{
    content: "";
    position: absolute;
    top: 220rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background: #fff;
    opacity: 0.2;
    width:60%
}

span{
    color:#e63946;
}
.nav_bar , .logo{
    color:white;
    transition: transform 330ms ease-in-out;
    font-family: 'EB Garamond', serif;
}
.nav_bar:hover{
    color:gray;
    transform: scale(1.5);
    
}

.intro{
  position:absolute;
  top:13rem;  
  left:31rem;
  font-family: 'EB Garamond', serif;
}

.social{
    display:inline-flex;
    padding-left:10rem;
}
.social_media{
    display:inline-block;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size:23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    box-shadow: 0 10px 10px rgba(225,225,225, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}
.intro h1,h3{
    color:white;
    padding:2px;
}
.intro h1 {
    font-size:5rem;
}

.nav{
    position:fixed;
}

.btn {
    display:block;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color:#ffffff;
    font-size: 15px;
    background: #e64e4e;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   }
.button{
    padding-left:15rem;
  }

  .full_about h1{
    color:white;
  }
.full_about .cv{
    padding:25px;
   position:relative;
   top:5rem;
}
.full_about .image{
    position:relative;
    top:3rem;
    left:6rem;
    width:50%;
    height:25%;
}
.full_about p{
    padding:20px;
    color:gray;
}
.full_about span{
    font-size:55px;

}
.full_about h2{
    color:gray;
    display:inline-block;
    width:30px;
    font-size:20px;
    margin-right:7rem;
    padding-left:10px;
    padding-bottom:40px
}
.detailbox h3{
    background-color:#e63946;
    color:white;
    width:18%;
    position:relative;
    top:-25px;
    left:-25px;
    box-shadow: 5px 5px white;
}

.detailbox h2{
   color:#e63946;
   position:relative;
   top:-8rem;
   left:25rem;
}

.detailbox{
    padding:8px;
    background-color:black;
    margin-top:35px;
    width:80%;
}
.education h1{
    color:white;
    margin-bottom:20px
}
.education p{
    color:gray;
}
.skill h2{
    color:white;

}
.bar_name{
   color:white; 
}
.skill .span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background:#e63946;
    position:relative;
    top:-4px;
    left:-7px;
    display:inline-block;
}

.deco{
    color:white;
    text-decoration:underline;
    text-decoration-color:#e63946;
    text-underline-offset:20px;
    text-decoration-thickness:2px;
}

.span{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background:#e63946;
    position:relative;
    top:-11px;
    left:7.5rem;
}
.full_about .span{
    top:-2px;
    left:10rem;
    display:inline-block;
}

.full_Projects h1{
color:white
}

.full_Projects .span {
    display:inline-block;
    position:relative;
    top:0px;
    left:12.5rem;
}

.full_Projects .individual{
    background-color:#edf2f4;
}
.full_Projects p{
    color:#e63946;
    display:inline-block;
    padding-right:4rem;
    margin:5px;
    font-size:18px;
}

.full_Projects .individual h1{
    color:black;
}

.full_Projects .individual .zoom:hover{
    transform: scale(1.2); 
    transition: transform 400ms ease-in-out;
}

.contact .span{
    position:relative;
    left:12rem;
}

.contact h3{
    position:relative;
    left:7rem;
}
.contact p{
    position:relative;
    left:6rem;
}
.contact .so{
    position:relative;
    left:-4rem;
}
.contact h2{
    color:white;
    display:block;
    position:relative;
    padding:5px;
    left:8.5rem;
}

.techskill{
    height:50%;
}

.techskill h1{
    color:white;
    position:relative;
    text-align:center;
    margin:10px;
}
.techskill .span{
     position:relative;
     left:45rem;
     top:-1px;

}
.techskill h2{
    text-decoration:underline;
    text-decoration-color:#e63946;
    text-underline-offset:15px;
    text-decoration-thickness:2px;
    text-decoration-opacity:0.5;
}

.techskill  .frontend  {
    background-color:white;
    position:relative;
    left:10rem;
    top:3rem;
    padding:25px;
    display:inline-block;
}

.techskill  .Backend  {
    background-color:white;
    position:relative;
    left:13rem;
    top:-10rem;;
    padding:25px;
    display:inline-block;
}

.techskill  .Database  {
    background-color:white;
    position:relative;
    padding:25px;
    display:inline-block;
    left:-19rem;
    top:3rem;
}

.techskill  .Version  {
    background-color:white;
    position:relative;
    padding:25px;
    display:inline-block;
    top:3rem;
    left:-17rem;
}
.techskill  .Hosting{
    background-color:white;
    position:relative;
    display:inline-block;
    top:-9rem;
    left:16rem;
}
.techskill  .Programming{
    background-color:white;
    position:relative;
    display:inline-block;
    left:65rem;
    top:-26rem;
}


.techskill  ls{
    display:block;
    margin:20px;
    font-size:20px;
}

